<%= form_with(model: vehicle) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :nickname %>
  <%= form.text_field :nickname %>

  <%= form.label :mileage %>
  <%= form.text_field :mileage %>

  <%= form.label :wheels %>
  <%= form.text_field :wheels %>

  <%= form.label :engine_status %>
  <%= form.select(:engine_status, @statuses, selected: @vehicle.engine_status) %>

  <%= form.label :vehicle_type %>
  <%= form.select(:vehicle_type, @vehicle_types, selected: @vehicle.vehicle_type.class.to_s) %>

  <%= form.label :doors %>
  <%= form.text_field :vehicle_type_doors %>

  <%= form.label :seat_status %>
  <% if @vehicle.vehicle_type.respond_to?(:seat_status) %>
    <%= form.select(:seat_status, @statuses, selected: @vehicle.vehicle_type.seat_status) %>
  <% else  %>
    <%= form.select(:seat_status, @statuses) %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
